# SPDX-FileCopyrightText: 2011 Tomislav Jonjic
# SPDX-FileCopyrightText: 2020 Mattia Biondi
#
# SPDX-License-Identifier: GPL-3.0-or-later

[Desktop Entry]
Version=1.0
Type=Application

Name=µRISC-V
Comment=Virtual machine simulator based on RISC-V
Categories=Education;Emulator;

Icon=org.virtualsquare.uriscv
Exec=uriscv
Terminal=false
Keywords=uriscv,urisc-v
